<nav class="navbar">
    <div class="logo">
        <a href="/"><img src="{{ url_for('static', path='logo.jpeg') }}" alt="Artesanías"></a>
        <span class="site-title">Artesanías</span>
    </div>
    <nav>
        <a href="/products">Productos</a>
        {% if session and session.email %}
            <span>👤 {{ session.email }}</span>
            {% if session.role == "vendedor" %}
                <a href="/add-product">Agregar producto</a>
            {% endif %}
            <a href="/logout">Cerrar sesión</a>
        {% else %}
            <a href="/login">Iniciar sesión</a>
            <a href="/register">Registrarse</a>
        {% endif %}
    </nav>
</nav>
<footer>
    &copy; E-commerce Artesanal - 2025
</footer>







